<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71fc7e">  <td>16/04/20 13:00:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MuTectWalkerUnitTest.basicPileupTest()[pri:0, instance:org.broadinstitute.cga.tools.gatk.walkers.cancer.mutect.MuTectWalkerUnitTest@26653222]">basicPileupTest</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="71fc7e">  <td>16/04/20 13:00:08</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MuTectWalkerUnitTest.simulate()[pri:0, instance:org.broadinstitute.cga.tools.gatk.walkers.cancer.mutect.MuTectWalkerUnitTest@26653222]">simulate</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="e6ba89">  <td>16/04/20 13:00:11</td>   <td>2186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PowerCalculationUnitTest.testNormal()[pri:0, instance:org.broadinstitute.cga.tools.gatk.walkers.cancer.mutect.PowerCalculationUnitTest@6a4f787b]">testNormal</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="71fc7e">  <td>16/04/20 13:00:11</td>   <td>2166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MuTectWalkerUnitTest.testPileupComparator()[pri:0, instance:org.broadinstitute.cga.tools.gatk.walkers.cancer.mutect.MuTectWalkerUnitTest@26653222]">testPileupComparator</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="e6ba89">  <td>16/04/20 13:00:11</td>   <td>2264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PowerCalculationUnitTest.testTumor()[pri:0, instance:org.broadinstitute.cga.tools.gatk.walkers.cancer.mutect.PowerCalculationUnitTest@6a4f787b]">testTumor</td> 
  <td>main@1454127753</td>   <td></td> </tr>
</table>
